.breadcrumbs {
  * {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
  }

  .breadcrumbs__nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    list-style: none;
  }

  // Список хлебных крошек
  .breadcrumbs__item {
    display: flex;
    align-items: center;

    // Разделитель для элементов списка
    &::before {
      padding: 0 9px;
      align-self: stretch;
      color: #ffffff;
      content: "/";
    }

    // Первый элемент списка
    &:first-child {
      &::before {
        content: none;
      }
    }

    // Активный элемент списка
    &.active {
      a {
        color: #6892ae;
        &:hover {
          border-bottom: 1px solid #6892ae;
        }
      }
    }
    a {
      color: #ffffff;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 200ms;
      &:hover {
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
