button {
  cursor: pointer;
  &:-moz-focus-inner {
    border: 0;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background: white;
  border: none;
  border: 1px solid white;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:target,
  &:focus {
    border: 1px solid rgb(194, 194, 194);
  }
}
.carousel_btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 1px;
  padding: 1rem;
  height: 100px;
  width: 100px;
  color: #0a3b56;
  font-size: 1.5rem;
  background: #eaedf4;
  border: 1px solid #eee;
  &:hover {
    background: #dadde3;
  }
  &:active {
    background: #c9cbd1;
    font-size: 600;
  }
}
.carousel_btn_prev {
  align-items: flex-start;
}
.carousel_btn_next {
  align-items: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;

  height: 38px;
  width: 182px;

  font-size: 14px;
  font-family: "Roboto Light";
  font-weight: 400;
  line-height: 1.286;
  text-transform: uppercase;

  background: white;
  border: none;
  border: 1px solid white;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid rgb(194, 194, 194);
  }
}

.btn_base {
  color: #000000;
  background-color: #ffffff;
  border-color: #cdcdcd;

  &:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:active,
  &:focus {
    background-color: #e6e6e6;
  }
}

.btn_black {
  color: #ffffff;
  background: rgb(34, 34, 34);
  border: 1px solid rgb(0, 0, 0);

  &:hover {
    color: #ffffff;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }
  &:active,
  &:focus {
    color: #ffffff;
  }
}

.btn_info {
  color: #ffffff;
  background: #6992ae;
  border: 1px solid #5f859e;

  &:hover {
    color: #ffffff;
    background: #5f859e;
    border: 1px solid #4d6b80;
  }
  &:active,
  &:focus {
    color: #ffffff;
  }
}

.btn_link {
  color: #4d4d4d;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active {
    color: #000000;
    text-decoration: none;
    background: transparent;
    border: none;
  }
}

.btn_img_cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.5;
  border: none;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    opacity: 1;
  }
  img {
    position: absolute;
  }
}

// Кнопки перелистывания
.carousel_btn {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 1px;
  padding: 1rem;
  height: 100px;
  width: 100px;
  color: #0a3b56;
  font-size: 1.5rem;
  background: #eaedf4;
  border: 1px solid #eee;
  &:hover {
    background: #dadde3;
  }
  &:active {
    background: #c9cbd1;
    font-size: 600;
  }
}

// Кнопки перелистывания - темный окрас
.carousel_btn_dark {
  color: #ffffff;
  background: #6892ae;
  border: 1px solid #6892ae;
  &:hover {
    background: #5e8199;
    border: 1px solid #506e83;
  }
  &:active {
    background: #506e83;
    border: 1px solid #3e5566;
  }
}

.carousel_btn_prev {
  right: 102px;
  align-items: flex-start;
}
.carousel_btn_next {
  right: 0;
  align-items: flex-end;
}
