.carousel {
  height: 100%;

  .carousel_container {
    margin: auto;
    height: 100%;
    overflow: hidden;
  }

  .carousel_slide {
    display: flex;
    height: 100%;
  }
  .carousel_item {
    display: flex;
  }
  .carousel_text {
    position: absolute;
    margin: 3rem 1rem;
    top: 0;
    right: 0;
    width: 50%;
  }
  .carousel_img_bg {
    object-fit: cover;
  }
  .carousel_info {
    display: flex;
    flex-direction: column;
    h2 {
      padding: 5px;
    }
    p {
      padding: 5px;
    }
  }
}
