.carousel_products {
}
/* Навигация
 *
 */
.carousel_products_nav {
  padding-top: 3px;
  // Навигация
  .nav {
    display: flex;
    height: 61px;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 55px;
    width: 3.5rem;
    margin: 0;
    padding: 0;
    z-index: 9;

    button {
      width: 100%;
      color: #a5a4a4;
      font-family: "Playfair Display", "Times New Roman", Times, serif;
      font-size: 1.25rem;
      background: none;
      border: none;
      padding: 0;
      transition: all 0.2s;
      &:hover {
        color: #616161;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    &.current {
      a,
      button {
        color: #000000;
        font-size: 2.5rem;
        font-weight: 600;
        &:hover {
          color: #000000;
        }
      }
    }
  }

  .lavalamp-object {
    top: 11px;
    background-image: url("../img/section_products_circle.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}
/* Слайды
 *
 */
.carousel_products_slides {
  height: 469px;
  width: 100%;

  .slides {
    height: inherit;
    //overflow: hidden;
    .slide {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 100px;
      padding-bottom: 120px;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: top 1s, opacity 1s;
      &.current {
        top: 0;
        opacity: 1;
      }
    }

    .slide__info {
      display: flex;
      flex-direction: column;
      width: 600px;
      flex-basis: 600px;
      min-width: 600px;
      h3 {
        margin-top: 60px;
        font-family: "Montserrat";
      }
      p {
        justify-content: center;
        flex: 1;
      }
    }
    .slide__img {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      img {
        height: 100%;
        max-width: 450px;
        object-fit: contain;
      }
    }
  }
}
