* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.container {
  max-width: $with_xl;
  margin: 0 auto;
  padding: 0 $container_padding;
}

.container_fluid {
  max-width: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.dh100 {
  height: 100%;
}

.row_reverse {
  @extend .row;
  flex-direction: row-reverse;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.wrap_r {
  padding-right: 80px;
}
.wrap_l {
  padding-left: 80px;
}
.wrap_t {
  padding-top: 40px;
}
.wrap_b {
  padding-bottom: 40px;
}
.wrap_g {
  @extend .wrap_r;
  @extend .wrap_l;
}
.wrap_h {
  @extend .wrap_t;
  @extend .wrap_b;
}
.wrap_gh {
  @extend .wrap_r;
  @extend .wrap_l;
  @extend .wrap_t;
  @extend .wrap_b;
}

.col_wrap {
  padding: 40px 80px;
}

.col_1 {
  @extend .col;
  width: calc((100% / 12) * 1 - 30px);
}

.col_2 {
  @extend .col;
  width: calc((100% / 12) * 2 - 30px);
}
.col_3 {
  @extend .col;
  width: calc((100% / 12) * 3 - 30px);
}
.col_4 {
  @extend .col;
  width: calc((100% / 12) * 4 - 30px);
}
.col_5 {
  @extend .col;
  width: calc((100% / 12) * 5 - 30px);
}
.col_6 {
  @extend .col;
  width: calc((100% / 12) * 6 - 30px);
}
.col_7 {
  @extend .col;
  width: calc((100% / 12) * 7 - 30px);
}
.col_8 {
  @extend .col;
  width: calc((100% / 12) * 8 - 30px);
}
.col_9 {
  @extend .col;
  width: calc((100% / 12) * 9 - 30px);
}
.col_10 {
  @extend .col;
  width: calc((100% / 12) * 10 - 30px);
}
.col_11 {
  @extend .col;
  width: calc((100% / 12) * 11 - 30px);
}

.col_12 {
  @extend .col;
  width: calc((100% / 12) * 12 - 30px);
}

.col_reverse {
  @extend .col;
  flex-direction: column-reverse;
}

.justify_content_center {
  justify-content: center;
}
.justify_content_space_around {
  justify-content: space-around;
}

.align_items_center {
  align-items: center;
}
.align_items_flex_end {
  align-items: flex-end;
}

.flex_align_items_center {
  align-items: center;
}
.flex_align_items_end {
  align-items: flex-end;
}

.fg1 {
  flex-grow: 1;
}
