.footer {
  display: flex;
  flex-direction: row;
  padding: 24px 0px;
  color: #000000;
  background: #ffffff;

  .row {
    justify-content: center;
  }
  .footer__logo {
    margin: 10px;
  }
  .footer__info {
    margin: 10px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
  }
}
