.form {
  .form__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 30px;
    z-index: 7;

    // При получение фокуса
    &.form__focus,
    &.from__value {
      .form__label {
        font-size: 14px;
        //color: rgba(255, 255, 255, 0.302);
        line-height: 3.429;
        z-index: 6;
        cursor: default;
        transform: translateY(-25px);
      }
      .form__highlight {
        width: 100%;
      }
    }
  }

  .form__input {
    padding-left: 5px;
    font-size: 18px;
    font-family: "Roboto";
    color: #01273a;
    line-height: 2.667;

    background: none;
    border: none;
    border-bottom: 1px solid #6892ae;
    z-index: 9;
    &:focus {
      outline: none;
    }
  }

  .form__label {
    position: absolute;
    padding-left: 5px;
    width: 100%;
    font-size: 16px;
    font-family: "Montserrat";
    color: #6892ae;
    line-height: 3;
    cursor: pointer;
    user-select: none;
    transition: transform ease 300ms, font-size, color ease 300ms,
      line-height ease 300ms;
    z-index: 10;
  }

  .form__highlight {
    width: 0;
    border-bottom: 1px solid #01273a;
    transition: width ease 300ms;
  }

  .form__btn {
    margin: 40px 0 10px;
  }
}

.from_dark {
  .form__group {
    &.form__focus,
    &.from__value {
      .form__label {
        color: rgba(255, 255, 255, 0.302);
      }
    }
  }
  .form__input {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #333333;
  }
  .form__label {
    color: rgba(255, 255, 255, 0.4);
  }
  .form__highlight {
    border-bottom: 1px solid #ffffff;
  }
}

.form_feedback {
  width: 470px;
  margin: 0 15px;
}
