/* Основное меню сайта *************************/

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  padding-bottom: 10px;
  background: white;
  overflow: hidden;
  z-index: 10;
  font-family: "Roboto";
  font-weight: 300;
  transition: height 500ms;
  z-index: 100;
  .row {
    height: 100%;
    align-items: flex-end;
  }

  .col-logo {
    flex-basis: 480px;
    width: 480px;
  }
  .col-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  /* Логотип сайта *****************************/
  .navbar__brand {
    display: flex;
    padding-bottom: 0.5rem;
    flex-grow: 1;
  }
  .navbar__brand_link {
    margin-left: 80px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .navbar__brand_ico {
    height: 80px;
    transition: height 500ms;
  }

  /* Навигационное меню ************************/
  .navbar__nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
    overflow: hidden;
  }
  .nav_item {
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
    display: flex;
    margin: 0;
    border-bottom: 1px solid #ffffff1a;
    flex-grow: 1;
  }
  .nav_item_hidden {
    //display: none;
    position: absolute;
    height: 100%;
    left: -15px;
    width: 15px;
  }
  .nav_link {
    display: block;
    margin: auto;
    position: relative;
    padding: 10px 5px 0px 5px;
    color: #2e2f2f;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    z-index: 10;
    &:hover,
    &:target,
    &:focus,
    &:active {
      color: #01273a;
      border: none;
    }
  }

  .lavalamp-object {
    width: 0px;
    border-top: 4px solid #01273a;
  }
  /* Строка поиска *****************************/
  .navbar__search {
    display: flex;
    align-items: center;
    width: 210px;
    .search {
      position: relative;
      width: 100%;
    }
    input {
      width: 150px;
    }
    .magnifier {
      position: relative;
      transform: translateX(10px);
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -o-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transition: transform 500ms;
      -webkit-transition: transform 500ms;
    }
    .search.active2 .magnifier {
      transform: translateX(-7%);
      -webkit-transform: translateX(-7%);
      -moz-transform: translateX(-7%);
      -o-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
    }
    .magnifier-path {
      fill: none;
      stroke-dasharray: 160 808;
      stroke-linecap: round;
      stroke-width: 3;
      stroke: rgb(77, 77, 77);
      transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
      -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    }
    .search.active2 .magnifier-path {
      stroke-dasharray: 580 808;
      stroke-dashoffset: -174px;
    }
    .x {
      fill: none;
      stroke-dasharray: 56 92;
      stroke-dashoffset: -92px;
      stroke-linecap: round;
      stroke-width: 6;
      stroke: rgb(77, 77, 77);
      transition: stroke-dashoffset 500ms;
      visibility: hidden;
    }
    .search.active2 .x {
      visibility: visible;
    }
    .search.searching .x {
      stroke-dashoffset: 0;
    }
    .input {
      border: 0;
      font-size: 1.2em;
      left: 20px;
      outline: 0 !important;
      position: absolute;
      top: 4px;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: #4d4d4d;
    }
    .overlay {
      background: rgba(0, 0, 0, 0);
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      transition: background 300ms;
    }
    .overlay_magnifier {
      height: 50px;
      left: 0px;
      top: -10px;
      width: 50px;
    }
    .overlay_close {
      height: 28px;
      top: 0;
      width: 28px;
      right: 15px;
    }
    .overlay:hover {
      background: rgba(0, 0, 0, 0.08);
    }
    .search.active2 .overlay_magnifier {
      visibility: hidden;
    }
    .search:not(.active2) .overlay_close,
    .search:not(.searching) .overlay_close {
      visibility: hidden;
    }
  }

  /* Контактный телефон ************************/
  .navbar__tel {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    width: 225px;
    .navbar__tel_item {
      display: flex;
      flex-direction: row;
      padding-top: 5px;
    }
    .navbar__tel_link {
      flex-grow: 1;
      margin-top: 0;
      padding-right: 0;
      color: #2e2f2f;
      text-decoration: none;
      border-right: 3px solid transparent;
    }
  }
}

.navbar_scroll {
  height: 60px;
  .navbar__brand_ico {
    height: 40px;
  }
}
