.display_1 {
  font-size: 70px;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: 1.143;
}
.display_2 {
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: 1.25;
}
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: bold;
  line-height: 1.3;
  font-family: "Montserrat";
}

.h1 {
  font-size: 48px;
}
.h2 {
  font-size: 36px;
}
.h3 {
  font-size: 24px;
}
.h4 {
}
.h5 {
}

p {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}
hr {
  margin: 0;
  height: 2px;
  width: 141px;
  margin: 40px 0;
  background: #01273a;
}
.separator {
  height: 2px;
  width: 141px;
  margin: 40px 0;
  background: #01273a;
}

.m_0 {
  margin: 0;
}
.mt_0 {
  margin-top: 0;
}
.mr_0 {
  margin-right: 0;
}
.mb_0 {
  margin-bottom: 0;
}
.ml_0 {
  margin-left: 0;
}
.mtb_0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mrl_0 {
  margin-right: 0;
  margin-left: 0;
}
