.videoplay {
  height: 700px;
  overflow: hidden;
  .videoplay__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .videoplay__cover_stop {
    display: none;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: #000000;
    cursor: pointer;
    transition: all ease 200ms;
    &:hover {
      opacity: 0.5;
    }
  }
  .videoplay__cover_stop_active {
    display: block;
  }
  .videoplay__cover_play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 200ms;
    &:hover {
      opacity: 1;
    }
  }
  .videoplay__video {
    background: rgba($color: #000000, $alpha: 0.5);
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .videoplay__info {
    display: flex;
    transition: left ease 200ms, opacity ease 200ms;
    background: rgba($color: #000000, $alpha: 0.5);
  }
  .videoplay__img_cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 50px;
    left: 0;
    text-align: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .videoplay_hidden {
    left: -500px;
    opacity: 0;
  }
}
