$width-max: 1400px;
$width-full-hd: 1080px;
$width-phone: 812px;
$with_xl: 1440px; // Дисплеи настольных ПК и ноутбуков
$with_lg: 1112px; // Планшеты (горизонтальная ориентация)
$with_md: 834px; // Планшеты (портретная ориентация)
$with_sm: 812px; // Телефон (горизонтальная ориентация)
$with_sx: 414px; // Телефон, портретный режим
$container_padding: 15px;
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  color: #212529;
  transition: padding-top 500ms;
}
@import "flex";
a:active,
a:focus {
  outline: none;
}

.body_scroll {
  padding-top: 50px;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
  max-width: $width-max;
  margin: 0 auto 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

@import "fonts";
@import "typography";
@import "color";
@import "buttons";
@import "carousel";
@import "navbar";
@import "form";

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  color: #4d4d4d;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

@import "sections";
@import "cartech";
@import "cartech_v2";

@import "footer";

@import "breadcrumbs";
@import "videoplay";

.page_feedback {
  text-align: left;
  .page_feedback__info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .page_feedback__ico {
    width: 24px;
  }
  .page_feedback__text {
    margin-left: 30px;
  }
  .page_feedback__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .page_feedback__social_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    &:hover {
      padding: 5px;
    }
  }
  .page_feedback__social_ico {
    display: flex;
    fill: red;
  }
  .page_feedback__col_info {
    flex-grow: 1;
  }
}
.page_feedback_dark {
  p {
    color: #ffffff;
  }
}
